[submodule "themes/maupassant"]
	path = themes/maupassant
	url = https://github.com/rujews/maupassant-hugo
[submodule "public"]
	path = public
	url = git@github.com:shixs/shixs.github.io.git
	branch = master
